/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');

/* Tailwind will be loaded via CDN script in HTML */

/* Custom Animations/Styles if needed override Tailwind */
body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

/* Glassmorphism for Navbar on scroll */
.glass-nav {
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #A69076;
    /* Muted Gold/Brown */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8c7860;
}