@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:wght@300;400;500;600&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #97563D;
    --color-secondary: #2E4B3C;
    --color-accent: #F8E0BB;
    --color-surface: #FFF7EF;
    
    --font-serif: 'Playfair Display', serif;
    --font-sans: 'Roboto', sans-serif;
}

/* Custom Animations/Styles if needed override Tailwind */
body {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}

/* Glassmorphism for Navbar on scroll */
.glass-nav {
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #A69076; /* Muted Gold/Brown */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8c7860;
}
